/*blog*/
.blog {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.blog:last-child {
  margin-bottom: 0;
}
.blog__photo {
  width: 750px;
  height: 500px;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.blog__photo:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0,0,0,.2);
}
.blog-stats {
  display: flex;
  margin: 30px 0 17px;
  align-items: center;
  cursor: pointer;
}
.blog-stats__data {
  padding: 7px 26px 5px 15px;
  background-color: #a5edc7;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}
.blog-stats__data:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.blog-stats__coments {
  display: flex;
  align-items: center;
  margin: 0 9px 0 15px;
  font-size: 14px;
  color: #cbcbcb;
}
.blog-stats__coments svg {
  width: 20px;
  height: 20px;
  margin: 3px 10px 0 0;
}
.blog-stats__likes {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #cbcbcb;
  transition: all .2s ease-in-out;
}
.blog-stats__likes svg {
  width: 20px;
  height: 20px;
  margin: 1px 10px 0 0;
  fill: #cbcbcb;
}
.blog-stats__likes svg:hover, svg:active {
  fill: #cf6a6a;
}
.blog-stats__likes .active svg {
  fill: #cf6a6a;
}
.blog__third-title {
  margin-bottom: 10px;
}
.blog__text {
  color: #a4a4a4;
  margin-bottom: 23px;
  line-height: 24px;
  letter-spacing: -0.1px;
}
.blog__more {
  position: relative;
  width: 150px;
  font-family: 'OpenSans', sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.blog__more:hover {
  font-weight: 200;
}
.blog__more::before {
  content: '➞';
  position: absolute;
  top: 0;
  right: -17px;
  transition: all .2s ease-in-out;
}
.blog__more:hover::before {
  color: #a5edc7;
  right: -30px;
}
.blog-form {
  position: relative;
  display: flex;
  width: 100%;
  transition: all .2s ease-in-out;
}
.blog-form:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.blog-form:after {
  content: '';
  position: absolute;
  background: url('../images/icon/icon-search.svg') no-repeat 0 0;
  width: 15px;
  height: 15px;
  top: 13px;
  right: 20px;
}
.blog-form__input {
  width: 100%;
  height: 40px;
  padding: 18px 35px 14px 15px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ebebeb;
  border: 0;
  outline: 0;
  color: #adadb2;
}
.blog__posts {
  padding-top: 47px;
}
.blog__heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 22px;
}
.blog-pagination {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0 6px 17px 19px;
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 29px;
}
.blog-pagination__tab {
  position: relative;
  cursor: pointer;
  color: #b4b4b4;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
.blog-pagination__tab_active {
  color: #60606d;
}
.blog-pagination__tab_active::after {
  content: "";
  position: absolute;
  width: 98px;
  height: 2px;
  top: 32px;
  left: -19px;
  background-color: #a5edc7;
}
.blog-pagination__item {
  display: none;
}
.blog-pagination__item_active {
  display: block;
}
.blog-pagination__post {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all .2s ease-in-out;
}
.blog-pagination__post:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.blog-pagination__post:last-child {
  margin-bottom: 0;
}
.blog-pagination__img {
  width: 80px;
  height: 80px;
}
.blog-pagination__description {
  margin-left: 17px;
}
.blog-pagination__description .blog-pagination__heading {
  margin-bottom: 0;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
}
.blog-pagination__data {
  font-family: 'OPenSans', sans-serif;
  font-weight: 200;
  font-size: 12px;
  color: #979797;
}
.blog__lists {
  padding-top: 50px;
}
.blog__lists .blog__heading {
  margin-bottom: 5px;
}
.blog-list {
  display: flex;
  justify-content: space-between;
  padding: 18px 16px 17px;
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
  font-family: 'OPenSans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}
.blog-list:hover {
  font-weight: bold;
  border-color: #a5edc7;
}
.blog__tags {
  padding-top: 44px;
}
.blog__tags .blog__heading {
  margin-bottom: 27px;
}
.blog-tags {
  display: flex;
  flex-wrap: wrap;
}
.blog-tags__row {
  display: flex;
  margin-bottom: 4px;
}
.blog-tags__row:last-child {
  margin-bottom: 0;
}
.blog-tags__item {
  display: flex;
  justify-content: center;
  min-width: 67px;
  padding: 8px 17px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #979797;
  background-color: #e4e4e4;
  margin-right: 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.blog-tags__item:hover {
  background-color: #f2f2f2;
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.blog-tags__item:last-child {
  margin-right: 0;
}
