/*advantages*/
.portfolio {
  padding: 141px 0;
}
.portfolio__second-title {
  width: 294px;
  margin: 0 auto;
}
.portfolio__text {
  display: flex;
  max-width: 770px;
  text-align: center;
  margin: 30px auto 100px;
}
.portfolio-choose {
  display: flex;
  justify-content: space-between;
}
.portfolio-choose__category {
  display: flex;
  flex-direction: column;
}
.portfolio-choose__second-title {
  line-height: 40px;
}
.portfolio-choose__second-title::after {
  display: none;
}
.portfolio-choose__nav li {
  list-style-type: none;
  margin: 22px 0 24px;
}
.portfolio-choose__item {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.portfolio-choose__item:hover {
  margin-left: 2px;
  background-color: #7beec7;
  padding: 2px 20px;
  color: white;
}
.portfolio-choose__list .active {
  margin-left: 2px;
  background-color: #7beec7;
  padding: 2px 20px;
  color: white;
}
.portfolio-choose__photos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 900px;
  width: 845px;
}
.portfolio-choose__link {
  display: flex;
  width: 260px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.portfolio-choose__link:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.portfolio-choose__link:nth-child(3n) {
  margin-bottom: 0;
}
.portfolio-choose__link:nth-child(-n+6) {
  margin-right: 30px;
}
