* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*styles*/
body {
  font-family: 'Montserrat';
  color: #60606e;
}
.main {
  max-width: 1144px;
  margin: 0 auto;
}
.content {
  padding: 150px 0;
}
.content-wrapper {
  display: flex;
  justify-content: space-between;
}
.aside {
  display: flex;
  flex-direction: column;
  width: 23.2%;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 50px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  border-radius: 0;
  outline: 0;
  cursor: pointer;
  transition: all .2s ease-in-out;
  z-index: 1;
}
.btn:hover, btn:active {
  background-color: #89c4a4;
}
.second-title {
  position: relative;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  z-index: 0;
  margin: 0 auto 17px;
}
.second-title::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 21px;
  top: 18px;
  left: 0;
  background-color: #a5edc7;
  z-index: -1;
  transition: all .5s ease-in-out;
}
.second-title:hover::after {
  left: 75%;
}
.third-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.caption {
  display: flex;
  width: 65%;
  margin: 0 auto 95px;
  text-align: center;
  letter-spacing: -0.2px;
  line-height: 23px;
}
.text {
  font-family: 'OpenSans', sans-serif;
  font-weight: 200;
  font-size: 15px;
}
.icons {
  display: flex;
  align-items: center;
}
.icon {
  display: flex;
  cursor: pointer;
  margin-right: 13px;
}
.icon:hover svg{
  fill: #a5edc7;
}
.icon:last-child {
  margin-right: 0;
}
.icon svg {
  width: 20px;
  height: 19px;
  fill: #969696;
  transition: all .2s ease-in-out;
}
.more {
  position: relative;
  width: 150px;
  font-family: 'OpenSans', sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.more::before {
  content: '➞';
  position: absolute;
  right: -17px;
  transition: all .2s ease-in-out;
}
.more:hover::before {
  color: #a5edc7;
  right: -30px;
}

/*header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 198px;
}
.header_home {
  margin-bottom: 194px;
}
.header__logo {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.header__logo a {
  color: #60606d;
  text-decoration: none;
}
.header__menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1;
}
.header__menu_open .header__row:nth-child(-n+3) {
  width: 33px;
}
.header__row {
  height: 2px;
  background-color: #60606d;
  transition: all .3s ease-in-out;
}
.header__row:nth-child(1) {
  width: 33px;
  margin-bottom: 7px;
}
.header__row:nth-child(2) {
  width: 17px;
  margin-bottom: 7px;
}
.header__row:nth-child(3) {
  width: 25px;
}
.nav {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
.nav__list {
  list-style-type: none;
  margin-right: 20px;
}
.nav__list:last-child {
  margin-right: 0;
}
.nav__item {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #60606e;
  padding-top: 15px;
}
.nav__item::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: #60606e;
  opacity: 0;
  transition: all .2s ease-in-out;
}
.nav__item:hover::after {
  opacity: 1;
  top: 0px;
}


/*introduction*/
.introduction {
  padding: 40px 80px 0;
  background: url('../images/img/introduction-bg.jpg') no-repeat 0 0;
  background-size: cover;
  height: 500px;
  width: 100%;
}
.introduction_home {
  background: url('../images/img/home-background.jpg') no-repeat 0 0;
  background-size: cover;
  height: 800px;
}
.introduction__title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
}
.introduction__title_home {
  position: relative;
  padding: 11px 36px;
  border: 10px solid #60606e;
  width: 570px;
  font-size: 48px;
  margin: 0 auto;
}
.introduction__title_home::after {
  content: "WE'RE";
  position: absolute;
  top: -40px;
  left: 219px;
  font-size: 18px;
  font-weight: bold;
  padding: 4px 19px 4px;
  width: 59px;
  letter-spacing: -0.6px;
  background-color: #a5edc7;
}
.introduction__nav {
  display: flex;
  justify-content: center;
  width: 110px;
  margin: 18px auto 0;
}
.introduction__third-title {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: inherit;
  letter-spacing: 0.5px;
  font-weight: bold;
  cursor: pointer;
}
.introduction__third-title_ligh {
  font-weight: 400;
  margin-left: 3px;
}
.introduction__splitter {
  font-weight: 400;
  margin-left: 3px;
}
.introduction__text {
  margin: 25px auto 124px;
  text-align: center;
  width: 44%;
  letter-spacing: 0.7px;
  line-height: 23px;
}
.introduction__history {
  display: flex;
  justify-content: space-between;
}
.introduction__img {
  min-width: 460px;
  height: 400px;
}
.introduction__description {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  margin-left: 128px;
}
.introduction__second-title {
  position: relative;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  z-index: 0;
  margin-bottom: 13px;
}
.introduction__second-title::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 21px;
  top: 18px;
  left: 0;
  background-color: #a5edc7;
  z-index: -1;
  transition: all .5s ease-in-out;
}
.introduction__second-title:hover::after {
  left: 47%;
}
.introduction_text {
  display: flex;
  max-width: 97%;
  line-height: 30px;
  letter-spacing: 0.4px;
  margin-bottom: 5px;
}
.introduction__btn {
  background-color: #a5edc7;
  color: #fff;
  margin-left: auto;
}

/*media*/
@media(max-width: 1239px) {
  .main {
    max-width: 95%;
  }
  .introduction {
    padding: 40px 50px 0;
  }
  .introduction__description {
    margin-left: 50px;
  }
  .introduction__second-title:hover::after {
    left: 62%;
  }
}
@media(max-width: 1023px) {
  .caption {
    width: 72%;
    margin: 0px auto 60px;
  }
  .content {
    padding: 80px 0;
  }
  .content-wrapper {
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
  }
  .aside {
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
    height: 730px;
  }
  .header_home {
    margin-bottom: 120px;
  }
  .introduction_home {
    height: auto;
  }
  .introduction__text {
    width: 69%;
    margin-bottom: 80px;
  }
  .introduction__description {
    margin-left: 30px;
    padding-top: 0;
  }
  .introduction__second-title {
    margin: 0 auto 13px;
  }
  .introduction__second-title:hover::after {
    left: 80%;
  }
  .introduction__img {
    min-width: 44%;
    height: 300px;
  }
  .introduction__text {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .nav {
    display: none;
  }
  .nav__menu {
    display: block;
    position: absolute;
    opacity: 0;
    left: -238px;
    top: -45px;
    z-index: 1;
    width: 180px;
    height: 1020px;
    padding-top: 40px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #BFBFBF;
    border-right: 1px solid #BFBFBF;
    transition: all .3s ease-in-out;
  }
  .nav__menu .nav__list {
    position: relative;
    margin-right: 0;
    padding: 5px 0 8px 40px;
    border-bottom: 1px solid #BFBFBF;
  }
  .nav__menu .nav__list:after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 30px;
    width: 33px;
    height: 15px;
    background-color: #a5edc7;
    z-index: 0;
  }
  .nav__menu .nav__list:last-child {
    border-bottom: 0;
  }
  .nav__menu .nav__item {
    font-size: 18px;
    padding-top: 0;
    z-index: 1;
  }
  .nav__menu .nav__item::after {
    display: none;
  }
  .nav_open {
    opacity: 1;
    left: -38px;
  }
  .header__menu {
    display: flex;
  }
  .caption {
    width: 88%;
    margin: 0px auto 40px;
  }
  .content {
    padding: 50px 0;
  }
  .aside {
    height: 100%;
    width: 60%;
    min-width: 279px;
    margin: 0 auto;
  }
  .header {
    margin-bottom: 60px;
  }
  .header_home {
    margin-bottom: 100px;
  }
  .introduction {
    padding: 40px 0 0;
    height: 300px;
  }
  .introduction_home {
    height: 1020px;
  }
  .introduction-wrapper {
    max-width: 100%;
  }
  .introduction__title_home {
    width: 360px;
    font-size: 32px;
    padding: 11px 10px;
  }
  .introduction__title_home::after {
    left: 122px;
  }
  .introduction__description {
    margin-left: 0;
    margin-top: 20px;
  }
  .introduction__history {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .introduction__text {
    width: 88%;
    margin-bottom: 50px;
  }
  .introduction__img {
    min-width: 425px;
    width: 425px;
    height: 380px;
  }
}
@media(max-width: 424px) {
  .aside {
    width: 100%;
  }
  .nav__menu {
    height: 1175px;
  }
  .introduction-wrapper {
    max-width: 90%;
    margin: 0 auto;
  }
  .introduction_home {
    height: 1175px;
  }
  .introduction__title_home {
    width: 290px;
    font-size: 26px;
    padding: 8px 8px;
  }
  .introduction__title_home::after {
    left: 90px;
  }
  .introduction__btn {
    margin: 0 auto;
    z-index: 0;
  }
  .introduction__second-title {
    font-size: 25px;
  }
  .introduction__second-title::after {
    height: 17px;
    top: 16px;
  }
  .introduction__second-title:hover::after {
    left: 76%;
  }
  .introduction__img {
    min-width: 320px;
    width: 320px;
    height: 330px;
  }
}
