@import 'homepage.css';
@import 'about.css';
@import 'fonts.css';
@import 'contact.css';
@import 'services.css';
@import 'blog.css';
@import 'portfolio.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*styles*/
body {
  font-family: 'Montserrat';
  color: #60606e;
}
.main {
  max-width: 1144px;
  margin: 0 auto;
}
.content {
  padding: 150px 0;
}
.content-wrapper {
  display: flex;
  justify-content: space-between;
}
.aside {
  display: flex;
  flex-direction: column;
  width: 23.2%;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 50px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  border-radius: 0;
  outline: 0;
  cursor: pointer;
  transition: all .2s ease-in-out;
  z-index: 1;
}
.btn:hover, btn:active {
  background-color: #89c4a4;
}
.second-title {
  position: relative;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  z-index: 0;
  margin: 0 auto 17px;
}
.second-title::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 21px;
  top: 18px;
  left: 0;
  background-color: #a5edc7;
  z-index: -1;
  transition: all .5s ease-in-out;
}
.second-title:hover::after {
  left: 75%;
}
.third-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.caption {
  display: flex;
  width: 65%;
  margin: 0 auto 95px;
  text-align: center;
  letter-spacing: -0.2px;
  line-height: 23px;
}
.text {
  font-family: 'OpenSans', sans-serif;
  font-weight: 200;
  font-size: 15px;
}
.icons {
  display: flex;
  align-items: center;
}
.icon {
  display: flex;
  cursor: pointer;
  margin-right: 13px;
}
.icon:hover svg{
  fill: #a5edc7;
}
.icon:last-child {
  margin-right: 0;
}
.icon svg {
  width: 20px;
  height: 19px;
  fill: #969696;
  transition: all .2s ease-in-out;
}
.more {
  position: relative;
  width: 150px;
  font-family: 'OpenSans', sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.more::before {
  content: '➞';
  position: absolute;
  right: -17px;
  transition: all .2s ease-in-out;
}
.more:hover::before {
  color: #a5edc7;
  right: -30px;
}

/*header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 198px;
}
.header_home {
  margin-bottom: 194px;
}
.header__logo {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.header__logo a {
  color: #60606d;
  text-decoration: none;
}
.header__menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1;
}
.header__menu_open .header__row:nth-child(-n+3) {
  width: 33px;
}
.header__row {
  height: 2px;
  background-color: #60606d;
  transition: all .3s ease-in-out;
}
.header__row:nth-child(1) {
  width: 33px;
  margin-bottom: 7px;
}
.header__row:nth-child(2) {
  width: 17px;
  margin-bottom: 7px;
}
.header__row:nth-child(3) {
  width: 25px;
}
.nav {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
.nav__list {
  list-style-type: none;
  margin-right: 20px;
}
.nav__list:last-child {
  margin-right: 0;
}
.nav__item {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #60606e;
  padding-top: 15px;
}
.nav__item::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: #60606e;
  opacity: 0;
  transition: all .2s ease-in-out;
}
.nav__item:hover::after {
  opacity: 1;
  top: 0px;
}


/*introduction*/
.introduction {
  padding: 40px 80px 0;
  background: url('../images/img/introduction-bg.jpg') no-repeat 0 0;
  background-size: cover;
  height: 500px;
  width: 100%;
}
.introduction_home {
  background: url('../images/img/home-background.jpg') no-repeat 0 0;
  background-size: cover;
  height: 800px;
}
.introduction__title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
}
.introduction__title_home {
  position: relative;
  padding: 11px 36px;
  border: 10px solid #60606e;
  width: 570px;
  font-size: 48px;
  margin: 0 auto;
}
.introduction__title_home::after {
  content: "WE'RE";
  position: absolute;
  top: -40px;
  left: 219px;
  font-size: 18px;
  font-weight: bold;
  padding: 4px 19px 4px;
  width: 59px;
  letter-spacing: -0.6px;
  background-color: #a5edc7;
}
.introduction__nav {
  display: flex;
  justify-content: center;
  width: 110px;
  margin: 18px auto 0;
}
.introduction__third-title {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: inherit;
  letter-spacing: 0.5px;
  font-weight: bold;
  cursor: pointer;
}
.introduction__third-title_ligh {
  font-weight: 400;
  margin-left: 3px;
}
.introduction__splitter {
  font-weight: 400;
  margin-left: 3px;
}

/*reply*/
.reply {
  width: 100%;
  background-color: #a5edc7;
  padding: 50px 0;
}
.reply-wrapper {
  display: flex;
  justify-content: space-between;
}
.reply__heading {
  width: 45%;
}
.reply__title {
  color: #fff;
  line-height: 40px;
  margin-bottom: 21px;
}
.reply__btn {
  color: #a5edc7;
  background-color: #fff;
}
.reply-form {
  display: flex;
  flex-direction: column;
  width: 555px;
  height: 230px;
  padding: 18px 26px;
  background-color: #fff;
  transition: all .2s ease-in-out;
}
.reply-form__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 32px;
}
.reply-form__text {
  font-size: 16px;
  color: #989898;
  letter-spacing: 0.2px;
  line-height: 22px;
}
.reply-form__email {
  display: flex;
  margin-top: auto;
  height: 50px;
}
.reply-form__input {
  width: 375px;
  border-right: 0;
  color: #979797;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  outline: 0;
  padding: 19px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.reply-form__input:focus, .reply-form__input:hover {
  border-color: #89c4a4;
  border-right: 1px solid #89c4a4;
}
.reply-form__input::-webkit-input-placeholder {color:#ccc;}
.reply-form__btn {
  width: 135px;
  background-color: #a5edc7;
  color: #fff;
}

/*footer*/
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.footer__nav {
  display: flex;
}
.footer__nav {
  list-style-type: none;
  margin-top: -2px;
}
.footer__item {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 40px;
  padding-bottom: 15px;
  letter-spacing: -0.7px;
  font-size: 15px;
  font-weight: 100;
  font-family: 'OpenSans', sans-serif;
  color: #989898;
}
.footer__item:before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 1px;
  height: 1px;
  background-color: #a5edc7;
  opacity: 0;
  transition: all .3s ease-in-out;
}
.footer__item:hover:before {
  opacity: 1;
  width: 50%;
}
.footer__list {
  position: relative;
}
.footer__list:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 2px;
  background-color: #989898;
  top: 8px;
  right: 16px;
}
.footer__list:last-child:after {
  display: none;
}
.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__text {
  font-family: 'OpenSans', sans-serif;
  text-transform: uppercase;
  color: #969696;
  margin-bottom: 25px;
  font-size: 12px;
}

/*media*/
@media(max-width: 1239px) {
  .main {
    max-width: 95%;
  }
  .introduction {
    padding: 40px 50px 0;
  }
  .aside {
    width: 27.5%;
  }
}
@media(max-width: 1023px) {
  .caption {
    width: 72%;
    margin: 0px auto 60px;
  }
  .content {
    padding: 80px 0;
  }
  .content-wrapper {
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
  }
  .aside {
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
    height: 730px;
  }
  .header_home {
    margin-bottom: 120px;
  }
  .introduction_home {
    height: auto;
  }
  .reply-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .reply__heading {
    width: 67%;
    text-align: center;
    margin-bottom: 30px;
  }
  .reply__btn {
    margin: 0 auto;
  }
  .footer__nav {
    list-style-type: none;
    margin-top: -3px;
  }
  .footer__item {
    font-size: 13px;
    margin-right: 10px;
  }
  .footer__list::after {
    display: none;
  }
  .footer__item::before {
    display: none;
  }
}
@media(max-width: 767px) {
  .nav {
    display: none;
  }
  .nav__menu {
    display: block;
    position: absolute;
    opacity: 0;
    left: -238px;
    top: -45px;
    z-index: 1;
    width: 180px;
    height: 1020px;
    padding-top: 40px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #BFBFBF;
    border-right: 1px solid #BFBFBF;
    transition: all .3s ease-in-out;
  }
  .nav__menu .nav__list {
    position: relative;
    margin-right: 0;
    padding: 5px 0 8px 40px;
    border-bottom: 1px solid #BFBFBF;
  }
  .nav__menu .nav__list:after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 30px;
    width: 33px;
    height: 15px;
    background-color: #a5edc7;
    z-index: 0;
  }
  .nav__menu .nav__list:last-child {
    border-bottom: 0;
  }
  .nav__menu .nav__item {
    font-size: 18px;
    padding-top: 0;
    z-index: 1;
  }
  .nav__menu .nav__item::after {
    display: none;
  }
  .nav_open {
    opacity: 1;
    left: -38px;
  }
  .header__menu {
    display: flex;
  }
  .caption {
    width: 88%;
    margin: 0px auto 40px;
  }
  .content {
    padding: 50px 0;
  }
  .aside {
    height: 100%;
    width: 60%;
    min-width: 279px;
    margin: 0 auto;
  }
  .header {
    margin-bottom: 60px;
  }
  .header_home {
    margin-bottom: 100px;
  }
  .introduction {
    padding: 40px 0 0;
    height: 300px;
  }
  .introduction_home {
    height: 1020px;
  }
  .introduction-wrapper {
    max-width: 100%;
  }
  .introduction__title_home {
    width: 360px;
    font-size: 32px;
    padding: 11px 10px;
  }
  .introduction__title_home::after {
    left: 122px;
  }
  .introduction__description {
    margin-left: 0;
    margin-top: 20px;
  }
  .reply-form {
    width: 85%;
    height: 235px;
  }
  .reply-form__title {
    text-align: center;
  }
  .reply-form__text {
    font-size: 14px;
    text-align: center;
  }
  .reply-form__email {
    width: 100%;
    justify-content: center;
  }
  .reply-form__input {
    max-width: 375px;
    width: 65%;
  }
  .reply-form__btn {
    max-width: 135px;
    width: 25%;
  }
  .footer-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__nav {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .footer__copyright {
    align-items: center;
  }
  .footer__text {
    font-size: 10px;
  }
}
@media(max-width: 424px) {
  .aside {
    width: 100%;
  }
  .nav__menu {
    height: 1175px;
  }
  .introduction-wrapper {
    max-width: 90%;
    margin: 0 auto;
  }
  .introduction_home {
    height: 1175px;
  }
  .introduction__title_home {
    width: 290px;
    font-size: 26px;
    padding: 8px 8px;
  }
  .introduction__title_home::after {
    left: 90px;
  }
  .introduction__btn {
    margin: 0 auto;
    z-index: 0;
  }
  .reply__heading {
    width: 85%;
  }
  .reply__heading .second-title {
    font-size: 22px;
  }
  .reply-form {
    height: 370px;
  }
  .reply-form__email {
    flex-direction: column;
    height: 115px;
  }
  .reply-form__input {
    width: 100%;
    border-right: 1px solid #e5e5e5;
  }
  .reply-form__btn {
    margin: 10px auto 0;
    width: 35%;
  }
  .footer__item {
    font-size: 10px;
    margin-right: 10px;
  }
  .footer__nav {
    font-size: 9px;
  }
  .footer__text {
    font-size: 8px;
  }
}
